.waiting-item {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
  }
  
  .time-left {
    font-size: 0.9rem;
    flex-grow: 3;
    display: flex;
    align-items: center;
  }
  
  .move-button {
    font-size: 0.9rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  